$black:                       #1f1f1f;
$grey:                        #59606d;
$white:                       #fff;
$grey-light:                  #959dad;
$grey-extra-light:            #f8f8f8;
$yellow:                      #f2c94c;
$red:                         #eb5757;
